<div class="container">
<ul class="nav nav-tabs">
  <ul class="nav nav-tabs">
  <li role="presentation" class="<%= params[:action] != "new" ? 'active' : '' %>"><%= link_to "Login", new_user_session_path %></li>
  <li role="presentation"class="<%= params[:action] == "new" ? 'active' : '' %>"><%= link_to "Sign up", new_user_registration_path  %> </li>
</ul>
<!-- <h2 class="text-center">SignUp</h2> -->
<%= form_for(resource, as: resource_name,html:  {class: "form-signin"}, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
   
    <%= f.label :name,class: "sr-only" %>
    <%= f.text_field :name,class: "form-control",placeholder: "Enter User Name", autofocus: true,required: true %>
    <%= f.label :email,class: "sr-only" %>
    <%= f.email_field :email,class: "form-control",placeholder: "Enter Email", autofocus: true,required: true %>
    <%= f.label :password,class: "sr-only" %>
   
    <%= f.password_field :password,class: "form-control", placeholder: "Enter Password", autocomplete: "off",required: true %>
    <%= f.label :password_confirmation,class: "sr-only" %>
    <%= f.password_field :password_confirmation,class: "form-control",placeholder: "Enter Password Confirmation", autocomplete: "off",required: true %>
    <%= f.submit "SignUp", class: "btn btn-lg btn-primary btn-block" %>
<% end %>


</div>