<div class="container">

  <ul class="nav nav-tabs">
<% if user_signed_in? %>
  <li role="presentation" class="active">
   <%= link_to 'Dashboard', '' %></li>
  <li role="presentation" class="pull-right">
   <%= link_to 'Edit profile', edit_user_registration_path %></li>
  <li role="presentation" class="pull-right">
  	<%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% else %>
<li role="presentation" class="active"><%= link_to "Login", new_user_session_path %></li>
  <li role="presentation"><%= link_to "Sign up", new_user_registration_path  %> </li>
<% end %>
</ul>
<div class="text-right">
  Logged in as <strong><%= current_user.email if current_user %></strong>
</div> 
      <div class="row">
  <%  @my_value.each do |rank| %>
  <% if rank[:global_rank] %>
Global Rank  <%= rank[:global_rank]   %>
<% end %>
<% if rank[:india_rank]%>
India Rank:  <%= rank[:india_rank]   %>
  <% end %>
  <% end %> 
</div>
    <div class="center_form" >
      <%= form_tag('', :method => "get",:class=>"navbar-form navbar-left" ) do %>
      <%= raw(text_field_tag :search, params[:search], placeholder: "Search",class: "form-control",required: true) %>
      <%= submit_tag  'submit',class: "btn btn-sm btn-primary" %>
      <%end%> 
</div>
    </div> 

